
.form-body .form-group .input-group .dropdown-toggle:hover{
    cursor: pointer;
    background: rgba(200,200,200,0.5);
} 

.form-body .form-group ul.dropdown-menu{
    top: 34px; 
    left: 0px; 
    display: block;
} 
.form-body .form-group ul.dropdown-menu-display-none{
    display: none;
} 

.form-body .form-group ul.dropdown-menu li .loading-label {
    padding-left: 5px;
} 



.form-body .form-group ul.dropdown-menu li.dropdown-menu-item:hover {
    background: rgba(150,150,150,0.5);
    cursor: pointer;    
} 