
#list {
    
    /*decoration*/
    background: #fff;

    /*position*/
    width: 100%;
    z-index: 3;    
}

/*
*   empty data
*/
#list #empty-list {
    margin-left: 15px;
    margin-top: 10px;
}