<!DOCTYPE html>
<html><head>
<!--  -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="NONE,NOARCHIVE"/>   
<title>FeedBacker</title>

<!-- favicon -->
<link href="/static/favicon.ico" rel="icon" type="image/png"/>
<!-- stylesheet -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- .... -->
<link href="/static/furst/css/base.css"             rel="stylesheet" type="text/css">       
<link href="/static/furst/css/message.css"          rel="stylesheet" type="text/css">   
<link href="/static/furst/css/sidebar.css"          rel="stylesheet" type="text/css">
<link href="/static/furst/css/content.css"          rel="stylesheet" type="text/css">
<link href="/static/furst/css/footer.css"           rel="stylesheet" type="text/css">
<link href="/static/furst/css/shdowing.css"         rel="stylesheet" type="text/css">
<!-- ... -->
<link href="/static/furst/css/toolbox.css"          rel="stylesheet" type="text/css">    
<link href="/static/furst/css/list.css"             rel="stylesheet" type="text/css">        
<link href="/static/furst/css/dialog.css"           rel="stylesheet" type="text/css">
<link href="/static/furst/css/form.css"             rel="stylesheet" type="text/css">
<link href="/static/furst/css/comboField.css"       rel="stylesheet" type="text/css">

<!--  -->
</head><body>
<!--  -->

<!-- messages -->
<div id="message-wrapper">
<!--     <div class="alert alert-danger alert-message" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        dsfgsdfgsdfs
    </div> -->
</div>

<!-- sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">F<span>ee</span>dB<span>ac</span>ker</a>
        </li>
        <li class="active">
            <a href="#">Отзывы</a>
        </li>
        <li>
            <a href="/report">Отчет</a>
        </li>
    </ul>
</div>

<!-- content -->
<div id="content-wrapper">     

    <!-- toolbox -->
    <div id="feedback-toolbox" class="toolbox-box">
        <button id="feedback-toolbox__create-btn" type="button" class="btn btn-primary">
            <span class="fa fa-plus __iconspacer"></span>
            Добавить
        </button>
        &nbsp;
        <button id="feedback-toolbox__remove-btn" type="button" class="btn btn-danger disabled">
            <span class="fa fa-minus __iconspacer"></span>
            Удалить
        </button>
        &nbsp;        
    </div>

    <!-- list -->
    <div id="feedback-list__elem" class="list-box">
<!--         <div id="empty-feedback-list" class="empty-list-box"> 
            There are no any records
        </div> -->
    </div>        

    <!-- mask -->
    <div id="feedback-list__mask" class="shdowing-box">
        <div class="shdowing-box-loader"></div>
    </div>

</div>

<!-- footer -->
<div id="footer-wrapper">
    FeedBacker (c) 2017 by Hamster Elements ltd.
</div>  

<!-- hidden -->
<!-- .. -->
<div id="shdowing" class="shdowing"></div>
<!-- ... -->
<div id="feedback-form__box" class="panel panel-primary form-box">
    <div id="feedback-form__title" class="form-title">
        <!-- <p id="create-feedback-form__heading" class="form-heading"></p> -->
        <div class="panel-heading text-center">
            <h1 class="panel-title">Новый отзыв</h1>
            <div id="feedback-form__close-btn" class="close-btn">
                <i class="fa fa-times"></i>
            </div>
        </div>
    </div>
    <div>
        <form id="feedback-form" method="post">
            <div class="col-lg-12 col-md-12 col-sm-12 form-body">

                <!-- ..Фамилия -->
                <div class="form-group">
                    <label for="id_lastname" class="control-label">Фамилия</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" name="lastname" required autofocus id="id_lastname" class="form-control">
                        </div>
                    </div>
                </div>

                <!-- ..Имя -->
                <div class="form-group">
                    <label for="id_firstname" class="control-label">Имя</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" name="firstname" required id="id_firstname" class="form-control">
                        </div>
                    </div>
                </div>

                <!-- ..Отчество -->
                <div class="form-group">
                    <label for="id_midname" class="control-label">Отчество</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" name="midname" id="id_midname" class="form-control">
                        </div>
                    </div>
                </div>

                <!-- ..Регион . -->
                <div class="form-group">
                    <label class="control-label">Регион</label>
                    <div class="row">
                        <div class="col-xs-10">
                            <div id="field-region__elem" class="input-group">
                                <input id="field-region__field_id" type="hidden" name="region_id">
                                <input id="field-region__field" type="text" name="region" autocomplete="off" placeholder="Выберете регион" class="form-control">
                                <ul id="field-region__menu" class="typeahead typeahead-long dropdown-menu dropdown-menu-display-none"></ul>
                                <span id="field-region__botton" class="input-group-addon dropdown-toggle" data-dropdown="dropdown"><span class="caret"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ..Город . -->
                <div class="form-group">
                    <label class="control-label">Город</label>
                    <div class="row">
                        <div class="col-xs-10">
                            <div id="field-city__elem" class="input-group">
                                <input id="field-city__field_id" type="hidden" name="city_id">
                                <input id="field-city__field" type="text" name="city" autocomplete="off" placeholder="Выберете город" class="form-control">
                                <ul id="field-city__menu" class="typeahead typeahead-long dropdown-menu dropdown-menu-display-none"></ul>
                                <span id="field-city__botton" class="input-group-addon dropdown-toggle" data-dropdown="dropdown"><span class="caret"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ..Контактный телефон -->
                <div class="form-group">
                    <label class="control-label">Контактный телефон</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" name="phone" class="form-control">
                        </div>
                    </div>
                </div>


                <!-- ..Email -->
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" name="email" class="form-control">
                        </div>
                    </div>
                </div>

                <!-- ..Комментарий -->
                <div class="form-group">                
                    <label for="id_text">Комментарий</label>
                    <textarea type="text" name="comment" rows="5" class="form-control"></textarea>
                </div>

                <!-- ... -->
                <div class="form-group submit-btn-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary btn-md">
                </div>
            </div>
        </form>
    </div>
</div>


<!-- scripts -->
<script src="/static/jquery/jquery.js"></script>
<script src="/static/bootstrap/bootstrap.min.js"></script>
<!-- ... -->
<script src="/static/furst/rpc.js"></script>
<script src="/static/furst/templates.js"></script>    
<script src="/static/furst/alerts.js"></script>        
<script src="/static/furst/dialog.js"></script>
<script src="/static/furst/form.js"></script>
<script src="/static/furst/comboField.js"></script>
<script src="/static/furst/list.js"></script>
<script src="/static/furst/toolbox.js"></script>
<script src="/static/furst/mask.js"></script>
<!-- ... -->
<script src="/methods"></script>       
<script src="/static/feedback/Form.js"></script>
<script src="/static/feedback/Fields.js"></script>
<!-- ... -->
<script src="/static/feedback/App.js"></script>
<!--  -->
</body>