<!doctype html>
<html><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="NONE,NOARCHIVE"/>        

<title>FeedBacker</title>

<!-- favicon -->
<link href="/static/favicon.ico"        rel="icon" type="image/png"/>
<link href="/static/stat/css/base.css"  rel="stylesheet" type="text/css">       
<!-- ... -->
</head><body>
<!-- ... -->
<div class="head">
    Распределение по городам региона "${region_name}"
</div>

<table class="content">
    <thead><tr>
    <!-- ... -->
        <th>№ города</th>
        <th>Наименование</th>
        <th>Количество комментариев</th>
    <!-- ... -->
    </tr></thead><tbody>
    <!-- ... -->
    ${tbody}
    <!-- .. -->
    </tbody>
</body></html> 